@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 240px;
  --main-nav-width: 56px;
}

body {
  @apply bg-gray-50;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
